.customCard{
    box-shadow: 0 15px 15px grey;
    border-radius: 25px;
    padding: 25px 20px 10px 20px;
}

.customButton {
    display: inline-block;
    background: #4285f4;
    color: #fff;
    text-transform: uppercase;
    font-size: small;
    padding: 7px 10px;
    border-radius: 5px;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
}
  .customButton:hover {
    box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(0px, -10px) scale(1.2);
    transform: translate(0px, -10px) scale(1.2);
}

  .customButtonGreen {
    display: inline-block;
    background: #208525;
    color: #fff;
    text-transform: uppercase;
    font-size: small;
    padding: 7px 10px;
    border-radius: 5px;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
  }
  .customButtonGreen:hover {
    box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(0px, -10px) scale(1.2);
    transform: translate(0px, -10px) scale(1.2);
}
