.counter{
    color: #2793D3;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    height: 240px;
    width: 210px;
    padding: 70px 20px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
.counter:before{
    content: '';
    background: linear-gradient(to right, #f5f5f5, #fff);
    border-radius: 7px;
    border: 3px solid #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    transform: rotate(45deg);
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 45px;
    top: 45px;
    z-index: -1;
}
.counter .counter-value{
    font-size: 28px;
    font-weight: 600;
    line-height: 30px;
    display: block;
    margin: 0 0 9px;
}
.counter .counter-value:before,
.counter .counter-value:after{
    content: '';
    background: linear-gradient(to right bottom, #5ED3DA, #2793D3, #5ED3DA);
    height: 80px;
    width: 80px;
    border-radius: 10px;
    transform: translateX(-50%) rotate(45deg);
    position: absolute;
    left: 50%;
    top: 15px;
    z-index: -2;
}
.counter .counter-value:after{
    top: auto;
    bottom: 15px;
}
.counter h3{
    color: #888;
    font-size: 16px;
    font-weight: 400;
    /*text-transform: capitalize;*/
    margin: 0 0 15px;
}
.counter .counter-icon{
    font-size: 30px;
    line-height: 30px;
    margin: 0 0 25px;
}
.counter.magenta{ color: #B20005; }
.counter.magenta .counter-value:before,
.counter.magenta .counter-value:after{
    background: linear-gradient(to right bottom, #F00374, #B20005, #F00374);
}
.counter.purple{ color: #8264CC; }
.counter.purple .counter-value:before,
.counter.purple .counter-value:after{
    background: linear-gradient(to right bottom, #A978BA, #8264CC, #A978BA);
}
.counter.blue{ color: #183A8C; }
.counter.blue .counter-value:before,
.counter.blue .counter-value:after{
    background: linear-gradient(to right bottom, #2873E8, #183A8C, #2873E8);
}
@media screen and (max-width:990px){
    .counter{ margin-bottom: 40px; }
}
